@media screen and (min-width: 841px) {
  body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 840px) {
  body {
    width: 90%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .header-logo {
    height: 62px;
  }

  .main-title {
    font-size: 30px;
  }

  .second-title {
    font-size: 12px;
  }

  .featured-work-title {
    text-align: center;
    font-size: 25px;
    padding: 0.5em 0 1em 0;
    margin-right: 0;
  }

  .featured-work-img {
    width: 100%;
  }

  .single-img {
    width: 50%;
  }

  .featured-work-images-title {
    font-size: 20px;
  }

  .featured-work-images-subtitle {
    font-size: 14px;
    padding-bottom: 2em;
  }
}
